ENV_LOGLEVEL=info           # Уровень логирования: debug, info

GRPC_PORT=50051             # Порт gRPC-сервера
GRPC_HOST=localhost         # Хост gRPC-сервера

HTTP_PORT=8080              # Порт HTTP-сервера
HTTP_HOST=localhost         # Хост HTTP-сервера
HTTP_TIMEOUT=30s            # Таймаут для HTTP-запросов

POSTGRESQL_USER=postgres    # Имя пользователя PostgreSQL
POSTGRES_PASSWORD=postgres  # Пароль PostgreSQL
POSTGRES_HOST=localhost     # Адрес PostgreSQL
POSTGRES_PORT=5432          # Порт PostgreSQL
POSTGRES_DB=orders          # Имя базы данных

REDIS_HOST=localhost        # Адрес Redis
REDIS_PORT=6379             # Порт Redis
REDIS_PASSWORD=redis        # Пароль Redis (пусто — если без аутентификации)
REDIS_USER=redis            # Пользователь Redis (только при включённом ACL!)
REDIS_DB=0                  # Номер логической БД в Redis (0–15)
REDIS_MAX_RETRIES=5         # Макс. число повторных попыток при ошибках
REDIS_DIAL_TIMEOUT=10s      # Таймаут установки соединения с Redis
REDIS_TIMEOUT=5s            # Общий таймаут на чтение/запись в Redis