ENV_LOGLEVEL=debug      # Уровень логирования

GRPC_PORT=50051         # Порт запуска gRPC сервера
GRPC_HOST=localhost     # Хост запуска gRPC сервера

HTTP_PORT=8080
HTTP_HOST=localhost
HTTP_TIMEOUT=30